body{
	text-align: center;
	height: 100%;
	margin: 0px;
	font-family: 'Gloria Hallelujah', cursive;
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

div#logo{
	text-align: center;
}
div#lockerA{
	position: relative;
	right: 350px;
	top: 100px;
	border-radius: 8px;
	background-color: rgba(102,179,255,0.8);
	color: white;
	padding: 0px 8px 0px 8px;
	font-family: trebuchet ms;
}
div#lockerB{
	position: relative;
	left: 350px;
	top: 550px;
	border-radius: 8px;
	background-color: rgba(216,50,48,0.9);
	color: white;
	padding: 0px 8px 0px 8px;
	font-family: trebuchet ms;
}

div#wrapper{
	position: relative;
	top: -50px;
	width: 600px;
	height: 600px;
	display: inline-grid;
	justify-content: space-around;
	font-family: trebuchet ms;
}
div.first{
	width: 600px;
	display: inline-flex;
	text-align: center;
	height: 75px;
	justify-content: space-around;
}
div.block{
	width: 12.1%;
	height: 73px;
	border-radius: 10px;
	display: inline-grid;
	background: linear-gradient(to top left, #66b3ff 0%, white 100%);
	opacity: 1;
	filter: brightness(90%);
}
div.block:hover{
	filter: brightness(110%);
}
div.mid{
	width: 600px;
	display: inline-flex;
	height: 75px;
	margin: 0px;
}
button.roll{
	font-size: 30px;
	font-family: trebuchet ms;
	background-color: #66b3ff; 
	color: blue;
	border: none;
	border-radius: 8px;
	padding: 10px 40px 10px 40px;
	margin-bottom: 15px;
}
div#value{
	width: 40px;
	height: 20px;
	font-size: 20px;
	font-family: inherit;
	color: blue;
	border: none;
	border-radius: 8px;
	padding: 10px 0px 10px 0px;
	text-align: center;
	background-color: #66b3ff;
	position: relative;
	left: 55px;
	margin-bottom: 7px;
}
div#turns{
	width: 100px;
	margin-left: 25px;
	font-size: 20px;
	font-family: inherit;
	color: blue;
	border: none;
	border-radius: 8px;
	padding: 5px 0px 5px 0px;
	text-align: center;
	background-color: #66b3ff; 
	margin-bottom: 7px;
}
div#terms{
	width: 100px;
	margin-left: 25px;
	font-size: 20px;
	font-family: inherit;
	color: blue;
	border: none;
	border-radius: 8px;
	padding: 5px 0px 5px 0px;
	text-align: center;
	background-color: #66b3ff; 
	margin-bottom: 7px;
}
div#gif{
	width: 70px; 
	height: 75px; 
	position: relative; 
	left: 40px;
	text-align: center;
	margin-bottom: 7px;
}
input#dice{
	height: 20px;
	width: 100px;
	font-size: 15px;
	color: blue;
	border: solid #red 1px;
	border-radius: 3px;
	padding-left: 5px;
}
div#submit{
	color: blue;
	border-radius: 4px;
	border: none;
	width: 70px;
	background-color: #66b3ff;
	margin-left: 6px;
	padding: 5px 0px 5px 0px;
	cursor: pointer;
}
form.checker{
	display: inline-flex;
	position: relative; 
	right: 17.6px;
	border: none;
}
div#win{
	position: fixed;
	top: 100px;
	left: 440px;
	width: 640px;
	height: 480px;
	background-image: url('win.gif');
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 20px;
	z-index: 2;
	text-align: center;
	font-size: 60px;
	display: none;
}
i#new{
	position: relative;
	left: 310px;
	bottom: 30px;
	font-size: 40px;
	z-index: 3;
}

div#tutorialRoll{
	position: relative;
	bottom: 710px;
	left: 50px;
	width: 250px;
	height: 130px;
	background-color: #f7cb65;
	color: #a53106;
	border-radius: 6px;
	z-index: 4;
	padding-top: 10px;
}
div#triangleRoll{
	background-color: transparent;
	height: 0px;
	width: 0px;
	border-top: 24px solid #f7cb65;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	position: relative;
	left: 60px;
	bottom: 710px;
	z-index: 4;
}

div.tutorialLocker{
	position: relative;
	bottom: 840px;
	right: 380px;
	width: 360px;
	height: 140px;
	background-color: #f7cb65;
	color: #a53106;
	border-radius: 6px;
	z-index: 4;
	padding-top: 10px;
}
div.triangleLocker{
	background-color: transparent;
	height: 0px;
	width: 0px;
	border-top: 24px solid #f7cb65;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	position: relative;
	bottom: 840px;
	right: 360px;
	z-index: 4;
}

div.tutorialBlock{
	position: relative;
	bottom: 890px;
	right: 150px;
	width: 320px;
	height: 150px;
	background-color: #f7cb65;
	color: #a53106;
	border-radius: 6px;
	z-index: 4;
	padding-top: 10px;
}
div.triangleBlock{
	background-color: transparent;
	height: 0px;
	width: 0px;
	border-top: 24px solid #f7cb65;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	position: relative;
	bottom: 890px;
	right: 140px;
	z-index: 4;
}

div#instruction{
	width: 600px;
	height: 400px;
	position: fixed;
	top: 170px;
	left: 456px;
	background-color: #f7cb65;
	border-radius: 20px;
	text-align: center;
	border: solid 5px brown;
	z-index: 5;
	display: none;
}
div#instruction_header{
	position: relative; 
	bottom: 50px; 
	left: 160px; 
	border-radius: 6px; 
	background-color: brown; 
	color: white; 
	border: solid 4px black;
	width: 280px;
}

div#welcome{
	width: 420px;
	height: 200px;
	position: fixed;
	top: 320px;
	left: 546px;
	background-color: #f7cb65;
	border-radius: 20px;
	text-align: center;
	border: solid 5px brown;
	z-index: 5;
	display: none;
}
div#welcome_header{
	position: relative; 
	bottom: 50px; 
	left: 160px; 
	border-radius: 16px; 
	color: white; 
	border: solid 4px brown;
	width: 100px;
	height: 100px;
}